<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiro_a.naruko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NARUKO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ActivitySelectLogin"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ActivityLogin"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityRegister"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityMenu"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity.ActivityChat"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"/>

    </application>

</manifest>